---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Info">
  <section class="px-8% py-10 flex flex-col gap-24 text-white">
    <article class="flex flex-col gap-5">
      <span class="flex gap-1 justify-center items-center">
        <h1
          class="text-2xl text-transparent bg-clip-text bg-gradient-to-br from-custom-rosa from-10% via-primary via-30% to-green-600 font-semibold"
        >
          Sobre mi ...
        </h1>
        <!--  <img class="w-6" src="/images/arrow.svg" alt="" /> -->
      </span>
      <div
        class="history flex flex-col justify-between items-center flex-wrap gap-20"
      >
        <article class="">
          <h2>biografía</h2>

          <!--  <img
            src="https://example.com/imagen-de-alexmain.jpg"
            alt="Alexmain"
          /> -->

          <p class="text-justify">
            <strong>Nacido en Barcelona en 1983</strong>, Alexmain es un técnico
            de sonido y DJ.
          </p>

          <p class="text-justify">
            Empezó a mezclar con tocadiscos en 1998 en radio Sallent, donde
            nació su pasión por la música makina.
          </p>

          <p>
            Con los años, ha perfeccionado su técnica y se ha adaptado a nuevos
            estilos como el house, el latin house, el comercial y el remember.
          </p>

          <h3>Trayectoria profesional</h3>

          <p>
            Ha tenido múltiples residencias en pubs y discotecas de la escena
            barcelonesa. También ha sido el DJ oficial de la gay pride de
            Manresa durante varios años.
          </p>

          <p>
            Es capaz de desenvolverse en cualquier evento, ya sea para
            ayuntamientos, bodas o eventos privados. Con el paso de los años, ha
            adquirido la habilidad de acertar con cada estilo y tema a poner,
            haciendo que sus eventos se conviertan en algo único y personal para
            su público.
          </p>

          <h3>Logros</h3>

          <ul>
            <li>
              Quedó primero en dos concursos de DJ, uno organizado por la
              discoteca Bruc Bananas y el otro organizado por la Casa de la
              Música de Manresa y la sala Stroika.
            </li>
            <li>
              Su primera residencia, y con la que sigue siendo parte, es en la
              sala Vips Pool del grupo Bages comedy. Otras residencias a
              destacar son Eitwo y Bruc bananas.
            </li>
            <li>
              Grandes DJ y profesionales del sector como Gabriel Cubero, Ricardo
              del Horno y Miquel Casas de "Don Disco" confían en su saber hacer
              para ir a eventos en su nombre.
            </li>
          </ul>

          <p>Contratarlo es garantía de cercanía y diversión.</p>
        </article>

        <!-- <article class="text-left">
          <h5>Alexmain Nacido en Barcelona en 1983 Técnico de sonido y dj.</h5>
          <p>
            Comenzó a mezclar con tocadiscos en 1998 en radio Sallent, de ahí,
            nació su pasión mezclando musica makina. A traves de los años, fué
            perfeccionando su técnica y adaptándose a nuevos estilos como el
            house, latin house, comercial, y remember.
          </p>
          <p>
            Pasando por múltiples residencias en pubs y discotecas de la escena
            barcelonesa, tambien ha sido el deejay oficial de la gay pride de
            Manresa durante varios años, capaz de desenvolverse en cualquier
            evento, ya sea para ayuntamientos, bodas y eventos privados. Con el
            paso de los años a adquirido la habilidad de acertar con cada estilo
            y tema a poner, haciendo que sus eventos se conviertan en algo único
            y personal para su público.
          </p>
          <p>
            Algunos logros fueron quedar primero en dos concursos de Dj, uno
            organizado por la discoteca Bruc Bananas y el otro organizado por la
            Casa de la Música de Manresa y la sala Stroika. Su primera
            residencia y con la cual sigue siendo parte es en la sala Vips Pool
            del grupo Bages comedy, otras residencias a destacar son Eitwo, Bruc
            bananas... Grandes dj y profesionales del sector como Gabriel
            Cubero, Ricardo del Horno, Miquel Casas de "Don Disco" confían en su
            saber hacer para ir a eventos en su nombre. Contratarlo es garantía
            de cercanía y diversión.
          </p>
        </article> -->
        <div class="support flex gap-52 flex-wrap justify-center">
          <div class="flex justify-center items-center flex-col gap-10">
            <span class="flex gap-1 items-center">
              <h1
                class="text-2xl text-transparent bg-clip-text bg-gradient-to-br from-custom-rosa from-10% via-primary via-30% to-green-600 font-semibold"
              >
              </h1>
            </span>
            <div
              class="flex justify-between items-center gap-10 flex-wrap max-w-sm"
            >
              <img
                class="hover:animate-jump w-80 object-cover"
                src="https://res.cloudinary.com/pruebaweb/image/upload/v1699498936/AlexMain/128___ALEXMAIN__85A3397_oc8c1o.jpg"
                alt=""
              />
            </div>
          </div>
          <img
            class="hover:animate-jump w-80 object-cover"
            src="https://res.cloudinary.com/pruebaweb/image/upload/v1699498940/AlexMain/136___ALEXMAIN__85A3451_vsolms.jpg"
            alt=""
          />
        </div>
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <span class="flex gap-1 justify-center items-center">
        <h1
          class="text-2xl text-transparent bg-clip-text bg-gradient-to-br from-custom-rosa from-10% via-primary via-30% to-green-600 font-semibold"
        >
          Reseñas ...
        </h1>

        <img class="w-6" src="" alt="" />
      </span>
      <div class="flex flex-wrap">
        <img
          class="hover:animate-jump w-60 rounded-lg mx-auto my-4"
          src="https://res.cloudinary.com/pruebaweb/image/upload/v1699498981/AlexMain/224_jock0h.jpg"
          alt=""
        />
        <img
          class="hover:animate-jump w-60 rounded-lg mx-auto my-4"
          src="https://res.cloudinary.com/pruebaweb/image/upload/v1699498928/AlexMain/112_t4waqz.jpg"
          alt=""
        />
        <img
          class="hover:animate-jump w-60 rounded-lg mx-auto my-4"
          src="https://res.cloudinary.com/pruebaweb/image/upload/v1699498926/AlexMain/107_an83ja.jpg"
          alt=""
        />
        <img
          class="hover:animate-jump w-60 rounded-lg mx-auto my-4"
          src="https://res.cloudinary.com/pruebaweb/image/upload/v1699498917/AlexMain/91_mf2dfj.jpg"
          alt=""
        />
      </div>
      <p class="max-w-3xl text-center m-auto">
        Gracias a todos los que confian en mi y me dan la oportunidad de hacer
        lo que mas me gusta, la musica.
      </p>
      <span class="flex gap-5 justify-center items-center">
        <a
          target="_blank"
          class="button"
          href="https://www.tiktok.com/@alexmaindj?_t=8hZ1dAQCyav&_r=1 "
        >
          <span>Tik-tok</span></a
        >
        <a
          target="_blank"
          class="button"
          href=" https://instagram.com/alexmain_dj"
        >
          <span>Instagram</span></a
        >
      </span>
    </article>
    <span class="item"></span>
    <span class="item2"></span>
    <span class="item3"></span>
  </section>
  <Footer />
</Layout>

<style>
  span.item {
    position: absolute;
    top: 40px;
    right: 0;
    width: 7rem;
    height: 8rem;
    transform: rotate(90deg) skewX(-12deg);
    border-radius: 1.5rem;
    background-color: #008697;
    filter: blur(3.5rem);
    opacity: 0.8;
    display: none;
    z-index: -1;
  }

  @media (width > 300px) {
    span.item {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }

  span.item2 {
    position: absolute;
    top: 95%;
    left: 55%;
    width: 15rem;
    height: 10rem;
    transform: rotate(60deg) skewX(-12deg);
    border-radius: 6rem;
    background: linear-gradient(30deg, rgb(171, 201, 4), rgb(163, 11, 233));
    filter: blur(5rem);
    opacity: 0.8;
    display: none;
    z-index: -1;
  }

  @media (width > 600px) {
    span.item2 {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }

  span.item3 {
    position: absolute;
    top: 120px;
    left: 0;
    width: 11rem;
    height: 8rem;
    transform: rotate(60deg) skewX(-12deg);
    border-radius: 6rem;
    background: linear-gradient(30deg, blue, violet);
    filter: blur(4rem);
    opacity: 0.8;
    display: none;
    z-index: -1;
  }

  @media (width > 300px) {
    span.item3 {
      right: 100px;
      opacity: 0.8;
      display: block;
    }
  }

  .button {
    --color: #ffffff;
    width: 120px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 400;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button::before,
  .button::after {
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background: linear-gradient(10deg, #f3156b, #00fa00);
    transition: 1s ease;
  }

  .button::before {
    top: -1em;
    left: -1em;
  }

  .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  .button:hover::before,
  .button:hover::after {
    height: 410px;
    width: 410px;
  }

  .button:hover {
    color: rgb(255, 255, 255);
  }

  .button:active {
    filter: brightness(0.8);
  }

  @media (width < 1200px) {
    .history {
      justify-content: center;
    }

    @media (width < 946px) {
      .support {
        gap: 100px;
      }
    }
  }
</style>
