---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="contacto">
  <section class="px-8% py-24 flex flex-col justify-center items-center gap-8">
    <h1
      class="text-3xl font-semibold text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 via-primary to-green-600"
    >
      Contacto
    </h1>
    <p class="text-xl text-center text-gray-700">
      Si tienes alguna duda, comentario o sugerencia, no dudes en contactarme.
    </p>
    <form
      name="contact"
      method="POST"
      data-netlify="true"
      class="bg-gray-100 max-w-md p-6 rounded-lg"
    >
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="name"
          >Tu nombre:</label
        >
        <input
          class="w-full px-3 py-2 text-gray-700 border rounded focus:outline-none focus:shadow-outline"
          id="name"
          type="text"
          name="name"
          placeholder="Escribe tu nombre aquí"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email"
          >Tu correo electrónico:</label
        >
        <input
          class="w-full px-3 py-2 text-gray-700 border rounded focus:outline-none focus:shadow-outline"
          id="email"
          type="email"
          name="email"
          placeholder="Escribe tu correo electrónico aquí"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="phone"
          >Tu teléfono:</label
        >
        <input
          class="w-full px-3 py-2 text-gray-700 border rounded focus:outline-none focus:shadow-outline"
          id="phone"
          type="tel"
          name="phone"
          placeholder="Escribe tu teléfono aquí"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="message"
          >Mensaje:</label
        >
        <textarea
          class="w-full px-3 py-2 text-gray-700 border rounded focus:outline-none focus:shadow-outline"
          id="message"
          name="message"
          placeholder="Escribe tu mensaje aquí"></textarea>
      </div>
      <div class="text-center">
        <button
          class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600"
          type="submit">Enviar</button
        >
      </div>
    </form>
  </section>
  <Footer />
</Layout>
