---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Galeria">
  <h1>Galeria</h1>
  <img
    class="border-2 p-2.5 w-96 rounded-md hover:animate-jump"
    src="https://res.cloudinary.com/pruebaweb/image/upload/v1699498915/AlexMain/090___ALEXMAIN__85A3177_nn31hm.jpg"
    alt=""
  />
</Layout>
