---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Galeria">
  <h1>Galeria</h1>

  <a
    href="https://cloudinary.com/console/c-<tu_cloud_name>/media_library/collections/<tu_collection_name>"
    target="_blank">Ver colección en Cloudinary</a
  >
</Layout>
