<footer class="footer w-full text-white px-8% py-6 flex flex-col justify-end">
  <article class="flex gap-5 justify-between flex-wrap my-12">
    <span class="flex flex-col gap-3">
      <h3
        class="font-semibold text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600"
      >
        AlexMain
      </h3>
    </span>
    <span>
      <h3
        class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-10% via-primary via-30% to-green-600"
      >
        Contacto
      </h3>
      <ul>
        <li>Tel: 630 64 89 39</li>
        <li>Mail: alexandermaindj@gmail.com</li>
      </ul>
    </span>
    <div class="flex gap-3">
      <a target="_blank" href="https://www.facebook.com/alexanderMaindj"
        ><img class="w-7" src="/images/facebook.svg" alt="" /></a
      >
      <a
        target="_blank"
        href="https://www.tiktok.com/@alexmaindj?_t=8hzbd0e0aBd&_r=1"
        ><img class="w-7" src="/images/tiktok.svg" alt="" /></a
      >
    </div>
  </article>
  <hr />
  <article class="flex gap-5 justify-between flex-wrap py-4">
    <span class="gap-3">J.C&copy; <span id="year">2023</span></span>
    <h3 class="flex flex-col gap-3">Creado por J.castro</h3>
    <div class="gap-5 justify-end">
      <a
        class="font-semibold"
        target="_blank"
        href="https://github.com/jocelyn212"
      >
        <img class="w-7" src="/images/github.svg" alt="github" /></a
      >
    </div>
  </article>

  <style>
    .footer {
      position: relative;
      min-height: 40vh;
      backdrop-filter: blur(0px) saturate(100%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(0, 0, 0, 0.2);
    }

    /*  span.item {
    position: absolute;
    top: 20%;
    left: 30%;
    width: 120px;
    height: 120px;
    transform: rotate(50deg) skewX(-12deg);
    border-radius: 3rem;
    background-color: #008697;
    filter: blur(3rem);
    opacity: 0.8;
    display: none;
  } */

    @media (width > 400px) {
      span.item {
        right: 100px;
        opacity: 0.8;
        display: block;
      }
    }

    @media (width < 600px) {
      .footer {
        padding: 10vh 8%;
      }
    }
  </style>
</footer>
